@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    /* align-items: auto; */
  /* justify-content:space-around; */
  margin:10px 25px;
  min-height: 100vh;
  background:#280549;

}
::selection{
  color: #fff;
  background: #F8BDEB;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex:1;
    /* width: calc(100% - 50px); */
    padding: 25px 30px;
    border-radius: 7px;
    background:rgb(95, 82, 109);
    height: 100%;
  }
  .wrapper header{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    /* height: 10% */
  }
  .wrapper form{
    margin: 35px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  p{
    font-size: 1.5rem;
  }
  form .row{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    height: 100%;
    justify-content: center;
  }

  form .row label{
    font-size: 18px;
    margin-bottom: 5px;
  }
  form .row:nth-child(2) label{
    font-size: 17px;
  }  
  .drop{
    text-align: right;
  }
  form :where(textarea, select, button){
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
  }
  form .row textarea{
    resize: none;
    width:100%;
    height: 100%;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #0e0202;
  }
  form .row textarea::-webkit-scrollbar{
    width: 5px;
  }
  form .row .outer{
    height: 50px;
    display: flex;
    padding: 10 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: right;
  }
  form .row .outer:hover{
    height: 55px;
  }
  
  .row select {
    width: 90%; 
    font-size: 16px; 
    background: #fff; 
    color: #333; 
    border: 1px solid #201d1d; 
    border-radius: 5px; 
    padding: 8px;
    outline: none; 
  }
  form .row select::-webkit-scrollbar{
    width: 8px;
  }
  form .row select::-webkit-scrollbar-track{
    background: #f6f1f1;
  }
  form .row select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #5b5656;
  }
  
  form button{
    height: 50px;
    align-self: flex-end;
    width: 90%;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    background: #0e0e16;
    transition: 0.1s ease;
  }
  form button:hover{
    background: #00000b;
    height: 55px;
    text-decoration: underline;
    text-underline-offset:auto;
  }
  @media(max-width: 400px){
    .wrapper{
      max-width: 345px;
      width:100%;
  }
}
